@charset "UTF-8";

// ------------------------------------------------------------------------
// Fonts
// ------------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sabon/SabonMTStd-Regular.otf") format("opentype");
}

@font-face {
  font-family: Sabon;
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/sabon/SabonLTStd-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sabon/SabonMTStd-Semibold.otf") format("opentype");
}

$font-serif: "Sabon", serif;
$font-sans: "Karla", sans-serif;

@mixin font-style($font-fam, $xs, $sm, $md, $lg, $xl, $letter-sp, $line-h, $weight, $style){
  font-family: $font-fam;
  font-size: $xs;
  letter-spacing: $letter-sp;
  line-height: $line-h;
  font-weight: $weight;
  font-style: $style;
  font-stretch: normal;
  @include media-breakpoint-up(sm) { font-size: $sm; }
  @include media-breakpoint-up(md) { font-size: $md; }
  @include media-breakpoint-up(lg) { font-size: $lg; }
  @include media-breakpoint-up(xl) { font-size: $xl; }  
}

// --------------------------------------------------------- xs --- sm --- md --- lg --- xl ---- lsp -- lh ---- w --- style
@mixin font-serif-xl    { @include font-style($font-serif,   30px,  30px,  40px,  40px,  40px,   0,     1.3em,  600,  normal); }
@mixin font-serif-l     { @include font-style($font-serif,   21px,  21px,  22px,  22px,  22px,   0,     1.3em,  600,  normal); }
@mixin font-serif-m     { @include font-style($font-serif,   18px,  18px,  18px,  18px,  18px,   0,     1.2em,  600,  normal); }
@mixin font-body        { @include font-style($font-serif,   18px,  18px,  18px,  18px,  18px,   0,     1.2em,  400,  normal); }
@mixin font-small       { @include font-style($font-sans,    13px,  13px,  13px,  13px,  13px,   0,     1.3em,  400,  normal); }
@mixin font-small-bold  { @include font-style($font-sans,    13px,  13px,  13px,  13px,  13px,   0,     1.3em,  700,  normal); }

.font-serif-xl    { @include font-serif-xl; }
.font-serif-l     { @include font-serif-l; }
.font-serif-m     { @include font-serif-m; }
.font-body        { @include font-body; }
.font-small       { @include font-small; }
.font-small-bold  { @include font-small-bold; }

.font-small-stories {
  @include font-small;
  text-transform: uppercase;
  &, tspan {
    color: $color-coral;
    fill: $color-coral;
  }
}

.font-body-l {
  @include font-serif-l;
  font-weight: 400;
}

.font-small-light {
  @include font-small;
  opacity: 0.3;
}

p.font-body-l {
  margin-bottom: 0.8em;
}
p.font-body {
  margin-bottom: 0.8em;
}

h2.font-serif-subtitle {
  @include font-body;
  font-size: 2vw !important;
  border-left: 1px solid black;

  // margin-top: 8px;
  // margin-left: 14px;
  // padding-left: 17px;

  margin-left: 2.3vw;
  padding-left: 2.3vw;
  padding-top: 1vw;
  @include media-breakpoint-up(lg) { 
    margin-left: 17px;
    padding-left: 17px;
    padding-top: 6px;
    font-size: 24px !important; 
  }
}

// h1 { 
//   @include font-page-titles; 
//   &.product-name {
//     @include font-huge-intro;
//     font-style: italic;
//   }
// }
// h2 { @include font-huge-intro; }
// h3 { @include font-large; }

// .font-large, .font-huge-intro, h2, h3 {
//   strong {
//     font-weight: 400;
//     color: $gold-dark;
//     @at-root .bg-grey-dark & {
//       color: $gold-light;
//     }
//   }
// }

