@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*:not(i), *:not(i)::before, *:not(i)::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

::-moz-selection {
  background: #50c6c1;
  color: black; }

::selection {
  background: #50c6c1;
  color: black; }

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none; }

button,
input,
optgroup,
select,
textarea, html input[type="button"],
input[type="reset"],
input[type="submit"], button[disabled],
html input[disabled], button::-moz-focus-inner,
input::-moz-focus-inner, input[type="checkbox"],
input[type="radio"], input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button, input[type="search"], input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

html body input:-internal-autofill-selected {
  background-color: transparent !important;
  background-image: none !important;
  color: -internal-light-dark-color(black, white) !important; }

@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/sabon/SabonMTStd-Regular.otf") format("opentype"); }
@font-face {
  font-family: Sabon;
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/sabon/SabonMTStd-Italic.otf") format("opentype"); }
@font-face {
  font-family: Sabon;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/sabon/SabonMTStd-Semibold.otf") format("opentype"); }
.font-serif-xl {
  font-family: "Sabon", serif;
  font-size: 27px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-serif-xl {
      font-size: 27px; } }
  @media (min-width: 768px) {
    .font-serif-xl {
      font-size: 40px; } }
  @media (min-width: 992px) {
    .font-serif-xl {
      font-size: 40px; } }
  @media (min-width: 1200px) {
    .font-serif-xl {
      font-size: 40px; } }

.font-serif-l {
  font-family: "Sabon", serif;
  font-size: 27px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-serif-l {
      font-size: 27px; } }
  @media (min-width: 768px) {
    .font-serif-l {
      font-size: 27px; } }
  @media (min-width: 992px) {
    .font-serif-l {
      font-size: 27px; } }
  @media (min-width: 1200px) {
    .font-serif-l {
      font-size: 27px; } }

.font-serif-m {
  font-family: "Sabon", serif;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-serif-m {
      font-size: 20px; } }
  @media (min-width: 768px) {
    .font-serif-m {
      font-size: 21px; } }
  @media (min-width: 992px) {
    .font-serif-m {
      font-size: 21px; } }
  @media (min-width: 1200px) {
    .font-serif-m {
      font-size: 21px; } }

.font-body {
  font-family: "Sabon", serif;
  font-size: 21px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-body {
      font-size: 21px; } }
  @media (min-width: 768px) {
    .font-body {
      font-size: 21px; } }
  @media (min-width: 992px) {
    .font-body {
      font-size: 21px; } }
  @media (min-width: 1200px) {
    .font-body {
      font-size: 21px; } }

.font-small {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-small {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .font-small {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .font-small {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .font-small {
      font-size: 14px; } }

.font-small-bold {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    .font-small-bold {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .font-small-bold {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .font-small-bold {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .font-small-bold {
      font-size: 14px; } }

.font-small-stories {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase; }
  @media (min-width: 576px) {
    .font-small-stories {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .font-small-stories {
      font-size: 14px; } }
  @media (min-width: 992px) {
    .font-small-stories {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    .font-small-stories {
      font-size: 14px; } }
  .font-small-stories, .font-small-stories tspan {
    color: #E75F52;
    fill: #E75F52; }

.font-body-l {
  font-family: "Sabon", serif;
  font-size: 27px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-weight: 400; }
  @media (min-width: 576px) {
    .font-body-l {
      font-size: 27px; } }
  @media (min-width: 768px) {
    .font-body-l {
      font-size: 27px; } }
  @media (min-width: 992px) {
    .font-body-l {
      font-size: 27px; } }
  @media (min-width: 1200px) {
    .font-body-l {
      font-size: 27px; } }

* {
  color: black; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

a.btn {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  font-family: "Karla", sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.3em;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
  @media (min-width: 576px) {
    a.btn {
      font-size: 14px; } }
  @media (min-width: 768px) {
    a.btn {
      font-size: 14px; } }
  @media (min-width: 992px) {
    a.btn {
      font-size: 14px; } }
  @media (min-width: 1200px) {
    a.btn {
      font-size: 14px; } }
  a.btn:not(.no-arrow)::after {
    content: "→";
    padding-left: 10px; }
  a.btn.coral {
    color: white;
    background-color: #E75F52; }
    a.btn.coral:hover {
      background-color: #e44a3c; }
  a.btn.white {
    color: #E75F52;
    background-color: white; }
    a.btn.white:hover {
      background-color: #f8f8f8;
      color: #E75F52; }
  a.btn.green {
    color: white;
    background-color: #38aca6; }
    a.btn.green:hover {
      background-color: #329894; }

#header a.item, #header a.item span {
  -webkit-transition: color 400ms;
  -moz-transition: color 400ms;
  -ms-transition: color 400ms;
  -o-transition: color 400ms;
  transition: color 400ms; }
#header a.item.active, #header a.item.active span, #header a.item:hover, #header a.item:hover span {
  color: #E75F52; }

#to-top {
  position: absolute;
  top: 0;
  right: 45px; }
  @media (max-width: 767.98px) {
    #to-top {
      right: 20px; } }

section {
  padding-left: 30px;
  padding-right: 30px; }
  @media (max-width: 767.98px) {
    section {
      padding-left: 5px;
      padding-right: 5px; } }

p.log {
  display: none; }

#fill-window {
  position: relative;
  overflow: hidden;
  height: 100vh;
  -webkit-transition: height 400ms;
  -moz-transition: height 400ms;
  -ms-transition: height 400ms;
  -o-transition: height 400ms;
  transition: height 400ms; }
  @media (max-width: 991.98px) {
    body.home #fill-window {
      height: calc(113vw + 120px * 3); }
    body.area #fill-window {
      height: calc(60vw + 120px); }
    body.story #fill-window {
      height: 90px; } }
  #fill-window #container {
    height: calc(100% - 90px);
    width: 100%;
    position: relative;
    background-color: #E6E7E7; }
  #fill-window #header {
    height: 90px;
    min-height: 90px;
    width: 100%;
    position: relative; }
    #fill-window #header .wrapper-menu-home, #fill-window #header .wrapper-menu-full {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      padding: 0 45px; }
      @media (max-width: 767.98px) {
        #fill-window #header .wrapper-menu-home, #fill-window #header .wrapper-menu-full {
          padding: 20px; } }
      #fill-window #header .wrapper-menu-home .logo, #fill-window #header .wrapper-menu-full .logo {
        cursor: pointer; }
      #fill-window #header .wrapper-menu-home a.item, #fill-window #header .wrapper-menu-full a.item {
        margin-left: 20px; }
    #fill-window #header .wrapper-menu-full {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      #fill-window #header .wrapper-menu-full .logo {
        white-space: nowrap; }
        @media (min-width: 1200px) {
          #fill-window #header .wrapper-menu-full .logo {
            width: 10%;
            overflow: visible; } }
      #fill-window #header .wrapper-menu-full .center {
        flex-grow: 1;
        white-space: nowrap;
        text-align: right; }
        @media (min-width: 1200px) {
          #fill-window #header .wrapper-menu-full .center {
            text-align: center; } }
      #fill-window #header .wrapper-menu-full .right {
        text-align: right;
        white-space: nowrap; }
        @media (min-width: 1200px) {
          #fill-window #header .wrapper-menu-full .right {
            width: 10%;
            overflow: visible; } }
    body.home .wrapper-menu-home {
      opacity: 1;
      pointer-events: all; }
    body.home .wrapper-menu-full {
      opacity: 0;
      pointer-events: none; }
    body.area .wrapper-menu-home, body.story .wrapper-menu-home {
      opacity: 0;
      pointer-events: none; }
    body.area .wrapper-menu-full, body.story .wrapper-menu-full {
      opacity: 1;
      pointer-events: all; }
    #fill-window #header.north-america a[data-value="north-america"] {
      color: #E75F52; }
    #fill-window #header.latin-america a[data-value="latin-america"] {
      color: #E75F52; }
    #fill-window #header.europe a[data-value="europe"] {
      color: #E75F52; }
    #fill-window #header.africa a[data-value="africa"] {
      color: #E75F52; }
    #fill-window #header.asia-oceania a[data-value="asia-oceania"] {
      color: #E75F52; }

#content {
  overflow: hidden;
  padding: 0 40px; }
  @media (max-width: 991.98px) {
    body.home #content {
      height: 0; } }
  @media (min-width: 992px) {
    #content {
      position: fixed;
      left: 50%;
      right: 0;
      top: 90px;
      bottom: 0;
      overflow: scroll;
      -webkit-transition: opacity 600ms;
      -moz-transition: opacity 600ms;
      -ms-transition: opacity 600ms;
      -o-transition: opacity 600ms;
      transition: opacity 600ms; }
      body.home #content {
        opacity: 0;
        pointer-events: none; } }

#ui-left {
  pointer-events: none;
  -webkit-transition: opacity 600ms;
  -moz-transition: opacity 600ms;
  -ms-transition: opacity 600ms;
  -o-transition: opacity 600ms;
  transition: opacity 600ms;
  position: fixed;
  left: 0;
  right: 50%;
  top: 90px;
  bottom: 0; }
  body.home #ui-left {
    opacity: 0; }
  #ui-left .top {
    padding: 40px;
    pointer-events: all; }
  #ui-left .bottom {
    padding: 40px;
    pointer-events: all;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

#about {
  position: relative;
  overflow: hidden;
  -webkit-transition: max-height 400ms;
  -moz-transition: max-height 400ms;
  -ms-transition: max-height 400ms;
  -o-transition: max-height 400ms;
  transition: max-height 400ms; }
  body.home #about {
    max-height: 1000px; }
  body.area #about, body.story #about {
    max-height: 0; }

#footer {
  overflow: hidden;
  -webkit-transition: max-height 400ms;
  -moz-transition: max-height 400ms;
  -ms-transition: max-height 400ms;
  -o-transition: max-height 400ms;
  transition: max-height 400ms;
  background-color: #38aca6;
  color: white; }
  body.home #footer {
    max-height: 500px; }
  @media (min-width: 992px) {
    body.area #footer, body.story #footer {
      max-height: 0; } }
  #footer a, #footer p {
    color: white; }
  #footer p {
    margin-bottom: 0.5em; }

svg.artboard {
  position: absolute;
  left: 0;
  top: 0; }
  svg.artboard g.tree {
    cursor: pointer;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms; }
    svg.artboard g.tree.hide:not(.selected) {
      pointer-events: none;
      opacity: 0; }
    svg.artboard g.tree circle.story-count {
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      -ms-transition: opacity 400ms;
      -o-transition: opacity 400ms;
      transition: opacity 400ms; }
    svg.artboard g.tree:not(.selected):hover circle.story-count {
      opacity: 0.5; }
    svg.artboard g.tree .branch-g {
      -webkit-transition: opacity 400ms;
      -moz-transition: opacity 400ms;
      -ms-transition: opacity 400ms;
      -o-transition: opacity 400ms;
      transition: opacity 400ms; }
      svg.artboard g.tree .branch-g.selected, svg.artboard g.tree .branch-g.hovered {
        opacity: 1 !important; }
      svg.artboard g.tree .branch-g.branch-story:hover .selection-circle, svg.artboard g.tree .branch-g.branch-story.selected .selection-circle, svg.artboard g.tree .branch-g.branch-story.hovered .selection-circle {
        opacity: 1; }

.color-white {
  color: white; }

.color-green {
  color: #38aca6; }

/*# sourceMappingURL=index.css.map */
