@charset "UTF-8";

// ------------------------------------------------------------------------
// Variables
// ------------------------------------------------------------------------

// $color-bg: #EAEBEB; // --- original ODI grey 25%
$color-bg: #E6E7E7;
$color-coral: #E75F52;
$color-blue: #3EBFB9;

$color-green: #147666;
$color-green: lighten($color-blue, 3%);
$color-green: darken($color-blue, 5%);

$header-height: 90px;

$mobile-h-d0: 143vw;
$mobile-h-d0: 113vw;
$labels-h: 120px;

$mobile-h-d1: 60vw;

$padding-l: 45px;
$padding-s: 20px;

// ------------------------------------------------------------------------
// External files import
// ------------------------------------------------------------------------

@import 'bootstrap-scss/_functions';
@import 'bootstrap-scss/_variables';
@import 'bootstrap-scss/mixins/_breakpoints';
// @import '_variables';
@import '_reset';
@import '_typography';
@import '_mixins';


// ------------------------------------------------------------------------
// General tags & classes
// ------------------------------------------------------------------------

* {
  color: black;
}

// --- links

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

a.btn {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 0 30px;
  border-radius: 20px;
  @include font-small-bold;

  &:not(.no-arrow)::after {
    content: "→";
    padding-left: 10px;
  }
  &.coral {
    color: white;
    background-color: $color-coral;
    &:hover {
      background-color: darken($color-coral, 5%);
    }
  }
  &.white {
    color: $color-coral;
    background-color: white;
    &:hover {
      background-color: #f8f8f8;
      color: $color-coral;
    }
  }
  &.green {
    color: white;
    background-color: $color-green;
    &:hover {
      background-color: darken($color-green, 5%);
    }
  }
}

#header a.item {
  &, span {
    @include transition(color 400ms);
  }
  &.active, &:hover {
    &, span {
      color: $color-coral;
    }
  }
}

#to-top {
  position: absolute;
  top: 0;
  right: $padding-l;
  @include media-breakpoint-down(sm) { 
    right: $padding-s; 
  }
}

section {
  padding-left: $padding-l - 15px;
  padding-right: $padding-l - 15px;
  @include media-breakpoint-down(sm) { 
    padding-left: $padding-s - 15px; 
    padding-right: $padding-s - 15px; 
  }
}

p.log {
  // position: absolute; top: 20px; left: 20px;
  display: none;
}

#fill-window {
  position: relative;
  overflow: hidden;

  height: 100vh;
  @include transition(height 400ms);
  @include media-breakpoint-down(md) { // --- Mobile version
    @at-root body.home & {
      height: calc(#{$mobile-h-d0} + #{$labels-h} * 3);
    }
    @at-root body.area & {
      height: calc(#{$mobile-h-d1} + #{$labels-h});
    }
    @at-root body.story & {
      height: $header-height;
    }
  }
  
  #container {
    height: calc(100% - #{$header-height});
    width: 100%;
    position: relative;
    background-color: $color-bg;
  }

  #header {
    height: $header-height;
    min-height: $header-height;
    width: 100%;
    position: relative;
    .wrapper-menu-home, .wrapper-menu-full {
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
      padding: 0 $padding-l;
      @include media-breakpoint-down(sm) { padding: $padding-s; }
      .logo {
        cursor: pointer;
      }
      a.item {
        margin-left: 20px;
      }
    }

    .wrapper-menu-full {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo {
        @include media-breakpoint-up(xl) { width: 10%; overflow: visible; }
        white-space: nowrap;

      }
      .center { // lg up
        flex-grow: 1;
        white-space: nowrap;
        text-align: right;
        @include media-breakpoint-up(xl) { text-align: center; }

      }
      .right {
        @include media-breakpoint-up(xl) { width: 10%; overflow: visible; }
        text-align: right;
        white-space: nowrap;
      }
    }

    @at-root body.home {
      .wrapper-menu-home { opacity: 1; pointer-events: all; }
      .wrapper-menu-full { opacity: 0; pointer-events: none; }
    }
    @at-root body.area, body.story {
      .wrapper-menu-home { opacity: 0; pointer-events: none; }
      .wrapper-menu-full { opacity: 1; pointer-events: all; }
    }

    &.north-america a[data-value="north-america"] { 
      color: $color-coral; 
    }
    &.latin-america a[data-value="latin-america"] { 
      color: $color-coral; 
    }
    &.europe a[data-value="europe"] { 
      color: $color-coral; 
    }
    &.africa a[data-value="africa"] { 
      color: $color-coral; 
    }
    &.asia-oceania a[data-value="asia-oceania"] { 
      color: $color-coral; 
    }
  }
}

#content {
  overflow: hidden;
  @include media-breakpoint-down(md) { // --- Mobile version
    // @include transition (max-height 400ms);
    @at-root body.home &{
      height: 0;
    }
  }
  @include media-breakpoint-up(lg) { // --- Desktop version
    position: fixed;
    left: 50%;
    right: 0;
    top: $header-height;
    bottom: 0;
    overflow: scroll;
    @include transition(opacity 600ms);
    @at-root body.home &{
      opacity: 0;
      pointer-events: none;
    }
  }

  // background-color: rgba(255,0,0,0.1);
  padding: 0 40px;
}

#ui-left {
  pointer-events: none;
  @include transition(opacity 600ms);
  @at-root body.home &{
    opacity: 0;
  }
  position: fixed;
  left: 0;
  right: 50%;
  top: $header-height;
  bottom: 0;
  // padding: 0 40px;
  .top {
    padding: 40px;
    pointer-events: all;
  }
  .bottom {
    padding: 40px;
    pointer-events: all;
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    // background-color: rgba(255,0,0,0.2);
  }
}

#about {
  position: relative;
  overflow: hidden;
  @include transition (max-height 400ms);
  @at-root body.home &{
    max-height: 1000px;
  }
  @at-root body.area &, body.story &{
    max-height: 0;
  }
}

#footer {
  overflow: hidden;
  @include transition (max-height 400ms);
  @at-root body.home &{
    max-height: 500px;
  }
  @at-root body.area &, body.story &{
    @include media-breakpoint-up(lg) { // --- Desktop version
      max-height: 0;
    }
  }

  background-color: $color-green;
  color: white;
  a, p {
    color: white;
  }
  p {
    margin-bottom: 0.5em;
  }

}


// ------------------------------------------------------------------------
// Svg
// ------------------------------------------------------------------------

svg.artboard {
  position: absolute;
  left: 0; top: 0;

  g.tree {
    cursor: pointer;
    @include transition(opacity 400ms);
    &.hide:not(.selected) {
      pointer-events: none;
      opacity: 0;
    }
    circle.story-count {
      @include transition(opacity 400ms);
    }
    &:not(.selected):hover circle.story-count {
      opacity: 0.5;
    }

    .branch-g {
      @include transition(opacity 400ms);
      &.selected, &.hovered {
        opacity: 1 !important;
      }
      &.branch-story {
        &:hover, &.selected, &.hovered {
          .selection-circle {
            opacity: 1;
          }
        }
      }
    }

  }


}


// ------------------------------------------------------------------------
// Utilities
// ------------------------------------------------------------------------

.color-white { color: white; }
.color-coral { color: $color-coral; }
.color-green { color: $color-green; }



// ------------------------------------------------------------------------
// BOOTSTRAP BREAKPOINTS
// ------------------------------------------------------------------------

// xs ---                 Portrait phones
// sm ---  576px and up   Small devices (landscape phones)
// md ---  768px and up   Medium devices (tablets)
// lg ---  992px and up   Large devices (desktops)
// xl --- 1200px and up   Extra large devices (large desktops)

// No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-only(md) { ... }
// @include media-breakpoint-between(md, xl) { ... }
// @include media-breakpoint-down(lg) { ... }
